/* nya menyn */

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: black;
    width: 290px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 750ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.3rem 0rem 0.3rem 1rem;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #faebd7;
    font-size: 18px;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-text a:hover {
    color: #1aa0ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 10px;
  }