.hero {
  background-color: var(--citydark);
}
.heroSection {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -20vh;
}

.heroHeading {
  font-size: 41.89px;
}

/* Hämtat från https://css-tricks.com/snippets/css/typewriter-effect/ */
.css-typing h1 {
  border-right: .15em solid var(--text-primary);
  white-space: nowrap;
  overflow: hidden;
}

.css-typing h1:nth-child(1) {
  width: 490px;
  animation: type 4s steps(25, end);
  animation-fill-mode: forwards;
}

.css-typing h1:nth-child(2) {
  width: 850px;
  opacity: 0;
  animation: type2 4s steps(25, end);
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid var(--text-primary);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid var(--text-primary);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

