.vidcontainer {
    width: 100%;
    height: 400px;
  
    position: relative;
  }
  
  .video-thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 400ms ease 0ms;
  }



  .diagramPadding{
    padding: 162px 0px 0px 0px;
    height: calc(100vh - 162px);
  }
  