
.skyline, .tivoli, .ferriswheel, .reflection {
    width: 100%;
}


.clouds {
    position: static;
    z-index: 25;
}

.clouds2 {
    margin-left: 50vw;
}

.skyline {
    z-index: 75;
}

.tivoli {
    z-index: 100;
}

.moon {
    position: absolute;
    z-index: 100;
}


.cityWrapper {
    position: relative;
    margin-top: 15rem;
}


.skyline, .tivoli, .ferriswheel {
    position: absolute;
    bottom: 0;
} 


@keyframes rotationanimation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  } 


.waterSection {
  position: relative;
  z-index: 10;
    margin-top: -2rem;
    background-image: linear-gradient(var(--purple), var(--citybright));
}