*{
  /* color: var(--text-primary); */
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.App {
  background-color: var(--background);
}

[data-theme='dark'] {
  --background: #130203;
  --text-primary: #F9F5F5;
  --text-secondary-blue: #A8DAEA;
  --text-secondary-pink: #EC8394;
  --text-secondary-yellow: #F1C454;
  --text-secondary-pruple: #130203;
  --green: #9DCCAF;
  --blue: #A8DAEA;
  --purple: #B29BCA;
  --pink: #EC8394;
  --yellow: #F1C454;
  --citydark: #130203;
  --citymediumdark: #130203;
  --citysemidark: #48385a;
  --citybright: #6b5980;
}

[data-theme='light'] {
  --background: #F9F5F5;
  --text-primary: #130203;
  --text-secondary-blue: #130203;
  --text-secondary-pink: #130203;
  --text-secondary-yellow: #130203;
  --text-secondary-pruple: #B29BCA;
  --green: #9DCCAF;
  --blue: #A8DAEA;
  --purple: #B29BCA;
  --pink: #EC8394;
  --yellow: #F1C454;
  --citydark: #A8DAEA; 
  --citymediumdark: #B29BCA;
  --citysemidark: #EC8394;
  --citybright: #F1C454;
}

.appNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}

p {
  size: 1rem;
  color: var(--text-primary);
  font-family: 'stratos-lights', 'stratos', sans-serif;
  font-weight: 300;
} 

.container {
  max-width: 1024px;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 5rem;
  margin-right: auto;
  margin-left: auto; 
}

/* header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
} */

.bigHeading {
  font-family: alternate-gothic-condensed-a, sans-serif;
  font-weight: 700;
  font-size: 4.3rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.mediumHeading {
  font-size: 1.6rem;
  font-weight: 600;
  /* text-transform: uppercase; */
  letter-spacing: 0.1rem;
}

.smallHeading {
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}

.largeText {
  font-size: 1.4rem;
  font-weight: 600;
}

.closeButton {
  margin-left: 1rem;
}


/* Popup CSS  */
.popupGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.containermargin{
  padding: 200px 0px 400px 0px;
}
